@inherits SortableBase

@typeparam TItem

<div @attributes="@Attributes"
     id="@id"
     class="@Class"
     style="@Style">
    @if (ChildContent is not null)
    {
        @foreach (var item in Items)
        {
            <div @key="@(KeySelector?.Invoke(item) ?? item)"
                 class="@(DraggableSelector?.Invoke(item) == true ? DraggableClass : "")">
                @ChildContent(item)
            </div>
        }
    }
</div>
